@import url("./reset.css");


.container{
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    overflow: hidden;
}

section {
    margin-top: 80px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f2f4;
    display: flex;
    gap: 10px;
}

.box {
    min-width: calc(25% - 10px);
    height: 160px;
    border-radius: 5px;
}

.box {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 160px;
}


.box-1 {background-color: #53add4;}
.box-2 {background-color: #53d57a;}
.box-3 {background-color: #d4537a;}
.box-4 {background-color: #7ad453;}